*.[ao]
*.l[ao]
*.loT
*.orig
*.pc
*.py[co]
*.rej
*.sw[op]
*~
.DS_Store
.deps
.libs
.svn
/INSTALL
Makefile
Makefile.in
_gen
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
core
/data/gabble.manager
/data/org.freedesktop.Telepathy.ConnectionManager.gabble.service
/debian
/depcomp
/docs/*.html
/docs/telepathy-gabble.8
/extensions/extensions.html
/gtk-doc.make
/install-sh
/libtool
/lib/gibber/gibber-signals-marshal.c
/lib/gibber/gibber-signals-marshal.h
/lib/gibber/gibber-signals-marshal.list
/ltmain.sh
/m4/gtk-doc.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/src/gabble-signals-marshal.list
/src/gabble-signals-marshal.c
/src/gabble-signals-marshal.h
/src/media-session-enumtypes.c
/src/media-session-enumtypes.h
/src/telepathy-gabble
/src/write-mgr-file
/stamp-h1
tags
cscope.out
/telepathy-gabble-0*
/tests/org.freedesktop.Telepathy.ConnectionManager.gabble.service
/tests/test-base64
/tests/test-dtube-unique-names
/tests/test-handles
/tests/test-jid-decode
/tests/test-parse-message
/tests/test-presence
/tests/twisted/gabbleconfig.py
/tests/twisted/telepathy-gabble-debug
/tests/twisted/tools/*.service
/tests/twisted/tools/exec-with-log.sh
/tests/twisted/tools/gabble-testing.log
/tests/twisted/tools/refdbg.log
/tests/twisted/tools/tmp-session-bus.conf
